.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.todo-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  min-width: 70%;
  max-width: 50%;
  border-left: 2px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #333333;
}

.todo-items:hover {
  background-color: rgb(207, 243, 255);
  box-shadow: 1px 0px 2px 2px rgb(198, 211, 216);
}
.todo-items:hover span {
  background-color: rgb(230, 134, 134);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

span {
  background-color: rgb(117, 169, 211);
  cursor: pointer;
  padding: 10px 20px;
  /* margin-left: 50px; */
  color: rgb(227, 231, 219);
  width: 50px;
}

p {
  font-size: 20px;
  width: 75%;
}

.AppTodo {
  background-color: white;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  min-width: 60%;
  max-width: 50%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ /* 0 10px 0 -5px #eee, */
      /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ /* 0 20px 0 -10px #eee; */
      /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  /* padding: 30px; */
}

input[type="text"] {
  padding: 10px 10px;
  width: 50%;
  min-width: 250px;
  margin: 20px 20px;
  border: none;
  border-bottom: 2px solid grey;
}
input:focus {
  outline: none;
}
